body{
    background-color: rgb(28, 28, 164);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}